[submodule "qtcreator"]
	path = qtcreator
	url = ../qt-creator
	branch = 4.8
[submodule "fossil"]
	path = plugins/fossil
	url = ../plugin-fossil-scm
	depends = qtcreator
	branch = 4.8
[submodule "haskell"]
	path = plugins/haskell
	url = ../plugin-haskell
	depends = qtcreator
	branch = 4.8
[submodule "pythonextensions"]
	path = plugins/pythonextensions
	url = ../plugin-pythonextensions
	depends = qtcreator
	branch = 4.8
