[submodule "qtcreator"]
	path = qtcreator
	url = ../qt-creator.git
	branch = .
[submodule "pythonextensions"]
	path = plugins/pythonextensions
	url = ../plugin-pythonextensions.git
	depends = qtcreator
	branch = .
